* { box-sizing: border-box; }

body {
    background: #000;
    margin: 0;
}

.cell-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 100vh;
}

.cell {
    background: gray;
    border: 1px solid black;
}
