/* CSS VARIABLES */
:root {
    --default-label-bg-color: dodgerblue;
}

/* GLOBAL SETTINGS AND RESETS */
html {
    box-sizing: border-box;
    font-size: 100%;
    color: white;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, h1, p, ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

/* MAIN CONFIGURATION */
body {
    background-color: #005;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.etch-a-sketch {
    display: flex;
    flex-direction: column;
    flex: 1;
    grid-area: main;
}

.cell-grid {
    display: grid;
    flex: 1;
}

.cell {
    background-color: white;
    border: 1px solid black;
}

.slider {
    display: flex;
    background-color: red;
    height: 50px;
}

.set-dimension {
    flex: 1;
}

/* SIDE PANEL */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
}

.control-panel {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    grid-area: section;
}

label, .aux {
    width: 300px;
    border: 5px solid blue;
    background-color: var(--default-label-bg-color);

    /* Child flex attributes */
    flex: 1;

    /* Parent flex attributes */
    display: flex;
    align-items: center;
}

.aux {
    flex-wrap: wrap;
}

label[for="pen-color-psychedelic"] {
    flex: 100%;
}

label[for="pen-color-white"] {
    color: black;
    background-color: white;
}

label[for="pen-color-custom"] {
    background-color: black;
}

.control {
    /* Child flex attributes */
    flex: 1;
    align-self: stretch;

    /* Parent flex attributes */
    display: flex;
    justify-content: center;
    align-items: center;
}

.control:first-child {
    border-right: 1px solid blue;
}

#clear-all {
    background-color: #9c005a;
}

#export {
    background-color: #5a009c;
}

#change-background-color {
    background-color: #9c5a00;
}

#change-foreground-color {
    background-color: #5a9c00;
}

span {
    font-size: 0.7rem;
}

.control > span {
    padding: 10px;
}

/* See https://stackoverflow.com/a/46988880 for context about the next
   two selectors */

/* This selector lets the targeted element "host" a color-picker */
.color-picker-container {
    position: relative;
}

/* Make the color picker invisible, and also span the entire swath of
   the parent label element. */
.color-picker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

label > span {
    padding: 10px;
    margin: auto;
}

footer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    grid-area: footer;
}

a {
    padding-left: 10px;
}

/* https://blog.hubspot.com/website/remove-underline-from-links-css */
a:is(:link, :visited, :hover, :active) {
    text-decoration: none;
    color: inherit;
}

span {
    font-weight: bold;
}

/*
LIGHTENER/DARKENER WIDGET

See 'https://www.w3schools.com/howto/howto_css_switch.asp'
*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  border: none;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider groove */
.groove {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e1e1e1;
  transition: .4s;
  width: 50px;
}

.groove:before {
  position: absolute;
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .groove {
  background-color: #555;
}

input:focus + .groove {
  box-shadow: 0 0 1px #555;
}

input:checked + .groove:before {
  transform: translateX(26px);
}

/* Hide the lighten/darken widget when relevant button is unchecked  */
label[for="pen-color-lighten-darken"] > input ~ .switch  {
    display: none;
}

label[for="pen-color-lighten-darken"] > input:checked ~ .switch  {
    display: inherit;
}

/* Rounded sliders */
.groove.round {
  border-radius: 34px;
}

.groove.round:before {
  border-radius: 50%;
}



/* Target mobile landscape usage */
@media only screen and (orientation: landscape) {
    body {
	display: grid;
	grid-template-areas:
	    "header section"
	    "main section"
	    "main section"
	    "main section"
	    "main section"
	    "main section"
	    "main section"
	    "main section";
	grid-auto-columns: 1fr;
    }

    footer {
	display: none;
    }

    .control-panel {
	flex: 1;
	padding: 0;
	margin: 0 auto;
    }
}

/* Target desktop usage */
@media only screen and (min-width: 1000px) and (min-height: 600px) {
    body {
	display: grid;
	grid-template-areas:
	    "header header section section"
	    "main main section section"
	    "footer footer section section";
	grid-auto-columns: 1fr;
	grid-template-rows: 1fr 5fr 1fr;
	padding-right: 20px;
    }

    footer {
	display: flex;
    }

    .control-panel {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 100px);
	margin: auto;
	padding-left: 10px;
    }

    label, .aux {
	width: auto;
    }

    label[for="pen-color-psychedelic"], .aux {
	grid-column: 1 / span 2;
    }

    span {
	font-size: 1rem;
    }
}
